* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: absolute;
  width: 50px;
  height: 50px;
}

.btn-left {
  left: 5%;
}

.btn-right {
  right: 5%;
}

.container {
  width: 50%;
  overflow: hidden;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: start;
}

img {
  width: 100%;
  height: auto;
  max-width: 2000px;
  max-height: 1335px;
}
