:root {
  --radio-button-size: clamp(10px, 1vw, 20px);
  --arrow-size: 60px;
  --arrow-rotation: 45deg;
  --arrow-margin: 4rem;
  --arrow-color: #f1f4fd;
  --arrows-size-calc: clamp(20px, 2vw, 100px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 210, 210);
}

.container {
  position: relative;
  border-radius: 25px;
  border: 2px solid rgb(207, 207, 207);
  width: 80%;
  max-width: 2000px;
  margin: auto;
  overflow: hidden;
  box-shadow: 1px 1px 100px rgb(144, 144, 144);
}

.btn-left,
.btn-right {
  opacity: 0.5;
  position: absolute;

  width: var(--arrows-size-calc);
  height: var(--arrows-size-calc);

  cursor: pointer;
  z-index: 100;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transform: rotate(var(--arrow-rotation));
  border-width: clamp(1px, 0.5vw, 5px);
  border-style: solid;
  border-radius: clamp(1px, 0.5vw, 5px);
  border-color: var(--arrow-color);

  transition: 0.25s;
  transition-delay: 0.15s;
  transition-timing-function: ease-in-out;
}

.btn-left {
  border-top: none;
  border-right: none;
  left: 0;
  margin-left: var(--arrow-margin);
}

.btn-left:hover {
  opacity: 0.8;
  transform: translateX(-5px) rotate(var(--arrow-rotation));
}

.btn-right {
  border-left: none;
  border-bottom: none;

  right: 0;
  margin-right: var(--arrow-margin);
}

.btn-right:hover {
  opacity: 0.8;
  transform: translateX(5px) rotate(var(--arrow-rotation));
}

.slider {
  width: 100%;
  display: flex;
  justify-content: start;
}

img {
  width: 100%;
  height: auto;
}

.radio-wrapper {
  position: absolute;
  bottom: 5%;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 1.4rem;
  z-index: 10;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;

  width: var(--radio-button-size);
  height: var(--radio-button-size);

  border: 2px solid rgb(180, 180, 180);
  right: 1px;
  z-index: 10;
  cursor: pointer;
  transition: 0.5s all linear;
}

.checked {
  background-color: rgb(232, 232, 232);
}

footer {
  position: absolute;
  bottom: 1%;
  color: black;
  left: 50%;
  transform: translate(-50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
